:root {
  --color-primary: #FF2000;
  --color-secondary: deepskyblue;
  --color-dark: #222;
  --color-light: #FAFAFA;
}
* {
  box-sizing: border-box;
}
html {
  font: 1em Open Sans, sans-serif;
  min-height: 100%;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  background: radial-gradient(60em at top center, white, var(--color-light));
}
@media (max-width: 40em) {
  html {
    font-size: .8em;
  }
}
body {
  /*display: flex;*/
  margin: 0;
}
em {
  color: #FF2000;
  font-style: normal;
}
header,
nav,
section,
article,
footer {
  display: block;
}
::selection {
  background: var(--color-dark);
  color: #FFF;
}
header {
  float: left;
  position: fixed;
}
.title {
  min-width: 18em;
  height: 26em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  background: linear-gradient(to bottom right, orangered, red);
}
@media (max-width: 70em) {
  .title {
    height: 20em;
  }
}
.title h1 {
  text-align: center;
  font: 5em Damion;
  margin: 0;
}
.title h1 a {
  display: inline-block;
  padding: 0 .2em;
  color: var(--color-light);
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.title h1 a:hover,
.title h1 a:focus {
  animation: jelly .5s;
}
.subtitle {
  text-align: center;
  font-size: .85em;
  color: var(--color-dark);
}
nav ul {
  list-style: none;
  padding: 1em;
}
nav li {
  padding: .2em;
}
nav li.version {
  padding: 2em .5em .5em .5em;
  font-size: .8em;
  font-style: italic;
  opacity: .5;
}
nav li.version + li.version {
  padding-top: 0;
}
nav a {
  position: relative;
  color: var(--color-dark);
  text-decoration: none;
  padding: 0 .2em;
}
nav a:hover,
nav a:focus,
nav a.selected {
  color: var(--color-primary);
}
nav a.play {
  /*color: var(--color-light);*/
  background: rgba(0,0,0,.1);
}

@media (min-width: 70em) {
  nav li:not(.version) a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.5em;
    width: 2em;
    background: var(--color-primary);
    transition: transform .3s cubic-bezier(.3,2,.5,.8);
  }
  nav li a:hover::before {
    transform: translateX(1em);
  }
}
ul ul {
  font-size: .9em;
  padding: .5em;
}
ul ul a {
  color: #666;
}
ul ul a::before {
  display: none;
}
@media (max-width: 70em) {
  nav {
    text-align: center;
  }
}
@media (max-width: 40em) {
  nav {
    font-size: 1.2em;
  }
}
section {
  overflow: hidden;
  /*border-top: 5px solid var(--color-dark);*/
  padding: 0 5em;
  margin-left: 18em;
  color: var(--color-dark);
  line-height: 1.8;
}
.element {
    display: flex;
    flex-direction: column;
    background: linear-gradient(red, blue);
  }
article {
  max-width: 50em;
}
.block {
  padding: 4em 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
article a {
  color: var(--color-dark);
  padding: 2px;
  margin: 0 -2px;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
}
article a:hover,
article a:focus {
  color: var(--color-primary);
}
@supports (background-size: 100%) {
  article a {
    border: none;
    background: linear-gradient(var(--color-primary), var(--color-primary)) no-repeat bottom;
    background-size: 100% 2px;
    transition: background-size .2s, color .1s .1s;
  }
  article a:hover {
    color: var(--color-light);
    background-size: 100% 100%;
  }
}

article h1,
article h2,
article h3 {
  font-size: 2em;
  color: var(--color-dark);
  padding: 0 0 1em;
  margin: 0;
}
article h2 {
  color: #FF2000;
  font-size: 1.8em;
}
article h3 {
  color: var(--color-dark);
  font-size: 1.6em;
  padding: 1em 0 0;
}
.note {
  font-size: .8em;
  color: #888;
}
.note a {
  background: none;
  padding-bottom: 0;
  color: #888;
  border-bottom: 1px solid var(--color-dark);
}
.note a:hover,
.note a:focus {
  color: var(--color-primary);
}
.note code {
  color: var(--color-dark);
}
.doge {
  text-align: center;
}
.buttons {
  text-align: center;
}
.button {
  display: inline-block;
  font-size: .9em;
  padding: .6em 1.1em;
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 0 0 -2px var(--color-light), 0 0 0 -1px var(--color-primary);
  border-radius: 3px;

  border: none;

  margin: 10px;
  outline: none;
  text-decoration: none;
  transition: box-shadow .3s;
}
.button--download {
  background: gray;
  box-shadow: 0 0 0 -2px var(--color-light), 0 0 0 -1px gray;
}
.button:hover,
.button:focus {
  transition-timing-function: cubic-bezier(.3,4,.5,.8);
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px var(--color-primary);
  animation: jelly .5s 1;
}
.button--download:hover,
.button--download:focus {
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px gray;
}
.button:active {
  transition-duration: 0s;
  background: var(--color-secondary);
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px var(--color-secondary);
}

@keyframes jelly {
  from, to { transform: scale(1, 1) ; }
  25%      { transform: scale(.9, 1.1) ; }
  50%      { transform: scale(1.1, .9) ; }
  75%      { transform: scale(.95, 1.05) ;}
}
@media (max-width: 70em) {
  body {
    /*flex-flow: column;*/
  }
  header {
    float: none;
    position: static;
  }
  section {
    padding: 0 2%;
    margin-left: 0;
  }
  article {
    margin: auto;
  }
}
@media (min-width: 102.5em) {
  .playground {
    max-width: none;
  }
  .textareas {
    display: flex;
  }
  .textarea {
    flex: 1;
    margin: 1em;
  }
}

/* PLAY */
.play,
.play body {
  height: 100%;
}
.play-header {
  float: none;
  height: 3em;
  top: 0; left: 0; right: 0;
  z-index: 500;
}
.play-title {
  height: 100%;
  display: block;
  box-shadow: 0 1px 2px rgba(0,0,0,.9);
}
.play-title h1 {
  display: inline-block;
  vertical-align: text-top;
  font-size: 2em;
  text-align: left;
  text-indent: 0.25em;
}
.play-subtitle {
  display: inline-block;
  vertical-align: text-top;
  padding: .1em .3em;
  margin-left: .5em;
  background: rgba(0,0,0,.9);
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3)
}
.play nav {
  position: absolute;top: 0; right: 0;
}

.play-link {
  color: #999;
  font-size: .9em;
}
.textareas {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.play-block {
  position: relative;
  float: left;
  padding: 4em 0 0 0;
  height: 100%;
}
.play-block--textarea {
  width: 40%;
}
.play-block--options {
  width: 20%;
}
.play-block-textarea {
  height: 100%;
  padding: 1em;
  background: #FFF;
  border: 1px solid #888;
  font: 1.4em Consolas, Monaco, monospace;
  resize: vertical;
  white-space: pre-wrap;
  overflow: scroll;
}
#output {
  background: #eee;
}
.play-block-title {
  color: #FFF;
  padding: .2em 1em;
  margin: 0;
  font-size: 1em;
  position: absolute;
  top: 3rem; left: 0; right: 0;
  z-index: 499;
  background: rgba(0,0,0,.9);
}
.play-block-title--2 {
  background: transparent;
}
.play-block-subtitle {
  font-size: .9em;
  font-style: italic;
  font-weight: normal;
  color: #aaa;
  padding-left: 1em;
}
.play-block--options {
  background: rgba(0,0,0,.9);
  color: #FFF;
}
.play-block--options form {
  padding: 1em;
}
.play-block--options input {
  width: 1rem;
  height: 1rem;
  margin: 0 .55rem 0 0;
  visibility: hidden;
}
.play-block--options label {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity .5s;
  opacity: 0.5;
}
.play-block--options label::before {
  content: '';
  position: absolute;
  top: 0; left: -1.55em;
  width: 1.25em; height: 1.25em;
  border-radius: .25em;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1);
  background: rgba(0,0,0,.45);
}
.play-block--options input + label::after {
  content: '';
  position: absolute;
  opacity: 0;
  top: .15em; left: -1.25em;
  width: .75em; height: .5em;
  background: transparent;
  border: 3px solid orangered;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg) translateZ(0);
  transition: opacity .1s;
}
.play-block--options label:hover::after,
.play-block--options label:focus::after {
  opacity: 0.15;
}
.play-block--options input:checked + label,
.play-block--options input:checked + label::after {
  opacity: 1;
}
.play-block--options fieldset {
  margin: 1em 0 0 0;
  padding: 0;
  border: none;
}
.play-block--options legend {
  color: orangered;
}




