:root {
  --color-primary: #FF2000;
  --color-secondary: deepskyblue;
  --color-dark: #151515;
  --color-light: #FAFAFA;
}

/**
 * Custom media
 */
@custom-media --breakpoint1 (max-width: 40em);
@custom-media --breakpoint2 (max-width: 70em);

* {
  box-sizing: border-box;
}
html {
  font: 300 1em Open Sans, sans-serif;
  min-height: 100%;
  text-size-adjust: none;
  background: radial-gradient(60em at top center, white, var(--color-light));
}
  @media (--breakpoint1) {
    html {
      font-size: .8em;
    }
  }

body {
  margin: 0;
}
header,
nav,
section,
article,
footer {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
::selection {
  background: var(--color-dark);
  color: #FFF;
}



/**
 * Header
 */

.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 500;
  box-shadow: 0 1px 2px rgba(0,0,0,.9);
}
  @media (--breakpoint1) {
    .header {
      position: static;
    }
  }

.header-titles {
  height: 3rem;
  background: red;
  background: linear-gradient(to bottom right, orangered, red);
}
.header-title {
  height: 100%;
}
  @media (--breakpoint2) {
    .header-title {

    }
  }

.header-title {
  display: inline-block;
  vertical-align: text-top;
  padding: 0 .4em;
  font: 2em Damion;
  margin: 0;
  text-indent: 0.25em;
}
.header-title a {
  display: block; /* fix transform animation on FF */
  color: var(--color-light);
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.header-title a:hover,
.header-title a:focus {
  animation: jelly .5s;
}
.header-version {
  display: inline-block;
  vertical-align: text-top;
  font-size: .85em;
  padding: .1em .3em;
  margin-left: .5em;
  background: rgba(0,0,0,.9);
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.header-subtitle {
  font-weight: normal;
  color: #FFF;
  padding: .2em 1em;
  margin: 0;
  font-size: 1em;
  background: var(--color-dark);
  /*
  position: absolute;
  top: 3rem; left: 0; right: 0;
  z-index: 499;
  cursor: default;
  */
}
.intro {
  display: block;
  font: 2.3em Damion, sans-serif;
  padding: 3em 0;
  text-align: center;
  color: var(--color-primary);
}
  @media (--breakpoint1) {
    .intro {
      padding: 1.5em 0;
    }
  }

.intro::after {
  content: close-quote;
}
.intro::before {
  content: open-quote;
}

/**
 * Footer
 */
.footer {
  background: var(--color-dark);
  color: #FFF;
  font-size: .9em;
  padding: 1em;
}
.footer a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid color(var(--color-primary) a(0));
  transition: border-bottom-color .25s;
}
.footer a:focus,
.footer a:hover {
  border-bottom: 1px solid var(--color-primary);
}

/**
 * Navigation
 */

.nav {
  position: fixed;
  top: 0; right: 1em;
  z-index: 500;
}
  @media (--breakpoint1) {
    .nav {
      position: static;
      margin: 1em;
      text-align: center;
      font-size: 1.2em;
    }
  }

.nav-items {
  list-style: none;
  margin: 0; padding: 0;
}
.nav-item {
  display: inline-block;
  margin: .5em;
  line-height: 2em;
}
.nav-link {
  color: var(--color-dark);
  padding: .2em .3em;
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  transition-name: color, border-color;
  transition-duration: .1s;
}
.nav-link:hover,
.nav-link:focus,
.nav-link--selected {
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
  @media (--breakpoint1) {
    .nav-link:hover,
    .nav-link:focus,
    .nav-link--selected {
      color: var(--color-primary);
      text-shadow: none;
    }
  }

.nav-link--play {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.9);
}
.nav-link--play:hover,
.nav-link--play:focus,
.nav-link--play.nav-link--selected {
  border-color: #FFF;
}

  @media (--breakpoint1) {
    .nav-link--play:hover,
    .nav-link--play:focus,
    .nav-link--play.nav-link--selected {
      border-color: var(--color-primary);
    }
  }

/**
 * Section
 */
section {
  overflow: hidden;
  padding: 6em 1em 1em 1em;
  color: var(--color-dark);
  background: #ddd;
  line-height: 1.8;
}
  @media (--breakpoint2) {
    section {
      padding: 6em 2% 1em;
    }
  }
  @media (--breakpoint1) {
    section {
      padding: 0;
    }
  }

.block {
  padding: 0 0 4em 0;
}
.block:last-of-type {
  border-bottom: none;
}
.block--first {
  padding-top: 4em;
}
article {
  background: #FFF;
  max-width: 54em;
  margin: auto;
  padding: 0 2em;
}
  @media (--breakpoint2) {
    article {
      padding: 0 1%;
    }
  }

article a {
  color: var(--color-dark);
  padding: 2px;
  margin: 0 -2px;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
}
article a:hover,
article a:focus {
  color: var(--color-primary);
}
  @supports (background-size: 100%) {
    article a {
      border: none;
      background: linear-gradient(var(--color-primary), var(--color-primary)) no-repeat bottom;
      background-size: 100% 2px;
      transition: background-size .2s, color .1s .1s;
    }
    article a:hover {
      color: var(--color-light);
      background-size: 100% 100%;
    }
  }

article h1,
article h2,
article h3 {
  font-weight: 600;
  font-size: 2.4em;
  color: var(--color-dark);
  margin: 0 0 1em;
}
article h2 {
  color: var(--color-primary);
  font-size: 2em;
  margin-top: 2em;
  padding-bottom: .5em;
  border-bottom: 1px solid;
}
article h3 {
  /*font-weight: 700;*/
  color: var(--color-primary);
  font-size: 1.6em;
  margin-top: 2em;
}
article h2:target,
article h3:target {
  padding-top: 4em;
}
article strong {
  font-weight: 600;
}
.note {
  font-size: .8em;
  color: #888;
}
.note a {
  background: none;
  padding-bottom: 0;
  color: #888;
  border-bottom: 1px solid var(--color-dark);
}
.note a:hover,
.note a:focus {
  color: var(--color-primary);
}
.note code {
  color: var(--color-dark);
}
.buttons {
  text-align: center;
}
.button {
  display: inline-block;
  font-size: .9em;
  padding: .6em 1.1em;
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 0 0 -2px var(--color-light), 0 0 0 -1px var(--color-primary);
  border-radius: 3px;
  border: none;
  margin: 10px;
  outline: none;
  text-decoration: none;
  transition: box-shadow .3s;
}
.button--download {
  background: gray;
  box-shadow: 0 0 0 -2px var(--color-light), 0 0 0 -1px gray;
}
.button:hover,
.button:focus {
  transition-timing-function: cubic-bezier(.3,4,.5,.8);
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px var(--color-primary);
  animation: jelly .5s 1;
}
.button--download:hover,
.button--download:focus {
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px gray;
}
.button:active {
  transition-duration: 0s;
  background: var(--color-secondary);
  box-shadow: 0 0 0 2px var(--color-light), 0 0 0 4px var(--color-secondary);
}
@keyframes jelly {
  from, to { transform: scale(1, 1) ; }
  25%      { transform: scale(.9, 1.1) ; }
  50%      { transform: scale(1.1, .9) ; }
  75%      { transform: scale(.95, 1.05) ;}
}


/**
 * Play
 */
html.play,
html.play body {
  min-height: 100%;
  height: 100%;
}
.play-textareas {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.play-block {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 6.5em 0 0 0;
  height: 100%;
}
.play-block--textarea {
  width: 40%;
}
textarea {
  opacity: 0;
}
.play-block--options {
  width: 20%;
}
.cm-s-output {
  border-left: 1px solid rgba(0,0,0,.3);
}
.play-block-title {
  font-weight: normal;
  color: #FFF;
  padding: .3em 1em;
  margin: 0;
  font-size: 1em;
  background: var(--color-dark);
  position: absolute;
  top: 3rem; left: 0; right: 0;
  z-index: 499;
  cursor: default;
  min-height: 3.5em;
}
.play-block-subtitle {
  font-size: .9em;
  font-style: italic;
  font-weight: normal;
  color: #aaa;
  padding-left: 1em;
}
/*
.header-subtitle--play {
  background: rgba(0,0,0,.9);
  color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3)
}
*/
.play-link {
  color: #999;
  font-size: .9em;
}
.play-link:focus,
.play-link:hover {
  border-bottom: 1px solid;
}
.play-header-link {
  position: absolute;
  top: 0; right: 1em;
  color: #000;
  line-height: 3em;
  text-decoration: none;
}
.play-header-link:hover {
  color: #FFF;
  text-decoration: underline;
}
.play-block--options {
  background: var(--color-dark);
  color: #FFF;
}
.play-block--options form {
  padding: 0 1em;
}
.play-block .input {
  white-space: nowrap;
}
.play-block .input .input {
  font-size: .8em;
  margin-left: 1.55rem;
  margin-top: .2em;
  margin-bottom: 0.75em;
  transition: opacity .5s;
  opacity: .35;
}
.play-block--options input[type=text] {
  height: 2em;
  width: 100%;
  padding: 0 .5em;
  border-radius: 2px;
  border: none;
  vertical-align: -.125em;
  font-style: italic;
  color: #aaa;
  background: rgba(0,0,0,.45);
  box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1),0 0 0 1px transparent;
  transition: box-shadow .2s;
}
.play-block--options input[type=text]:focus {
  color: #FFF;
  font-style: normal;
}
.play-block--options input[type=text]::selection {
  background: var(--color-primary);
  color: #FFF;
}
.play-block--options input[type=text]:focus {
  box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.1),0 0 0 1px var(--color-primary);
  outline: none;
}
.play-block--options input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  margin: 0 .55rem 0 0;
  visibility: hidden;
}
.play-block--options label {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity .5s;
  opacity: 0.35;
}
.play-block--options label::before {
  content: '';
  position: absolute;
  top: 0; left: -1.55rem;
  width: 1.25em; height: 1.25em;
  border-radius: .25em;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.3);
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(0,0,0,.8);
}
.play-block--options input + label::after {
  content: '';
  position: absolute;
  opacity: 0;
  top: .15em; left: -1.25rem;
  width: .75em; height: .5em;
  background: transparent;
  border: 3px solid var(--color-primary);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: opacity .1s, border-color .1s;
}
.play-block--options label:hover::after,
.play-block--options label:focus::after {
  opacity: .5;
  border-color: #FFF;
}
.play-block--options label:hover,
.play-block--options label:focus {
  opacity: .8;
}
.play-block--options input:checked + label,
.play-block--options input:checked + label::after,
.play-block--options input:checked + label + .input {
  opacity: 1;
}
.play-block--options input:checked + label:hover::after,
.play-block--options input:checked + label:focus::after {
  border-color: var(--color-primary);
}
.play-block--options fieldset {
  margin: 0 0 1em 0;
  padding: 0;
  border: none;
}
.play-block--options legend {
  color: var(--color-primary);
}
.samples-item {
  margin: 0 .25em;
  padding: 0 .4em;
  color: var(--color-primary);
  text-decoration: none;
  background: black;
  border-radius: 10px;
  transition: color .1s;
}
.samples-item:focus,
.samples-item:hover {
  color: #FFF;
}

@media (min-width: 75em) {
  html.play body {
    height: 100%;
  }
}
@media (max-width: 75em) {
  .play-textareas {
    position: relative;
  }
  .play-block {
    display: block;
  }
  .play-block--textarea {
    width: 70%;
    height: 500px;
    float: none;
  }
  .play-block--output {
    padding-top: 3.5em;
  }
  .play-block--output .play-block-title {
    top: 0;
  }
  .play-block--options {
    width: 30%;
    position: absolute;
    top: 0; right: 0; bottom: 0;
  }
}
@media (max-width: 40em) {
  .samples {
    position: absolute;
    top: 2rem; left: 0; right: 0;
    height: 3rem;
    padding-left: .5em;
    background: var(--color-dark);
  }
  .play-block {
    padding-top: 2em;
  }
  .play-block--input {
    padding-top: 5em;
  }
  .play-block-title {
    top: 0;
    height: 2em;
    min-height: 2em;
  }
  .play-block--textarea,
  .play-block--options {
    width: 100%;
    position: relative;
  }
  .play-block--textarea {
    height: 300px;
  }
}


