extends ../_layout

block link
  -var selected = 'docs';

block content

  .block
    include ../includes/_docs

  .block
    include ../includes/_cli-options

  .block
    include ../includes/_options

  .block
    include ../includes/_next

  .block
    include ../includes/_cli