extends ../_layout

block link
  -var selected = 'docs';

block content

  .block.block--first
    include:markdown ../content/docs-intro.md
  .block
    include:markdown ../content/docs-configuration-file.md
  .block
    include:markdown ../content/docs-preprocess.md
  .block
    include:markdown ../content/docs-postprocess.md
  .block
    include:markdown ../content/docs-next.md
  .block
    include:markdown ../content/docs-sourcemaps.md
  .block
    include:markdown ../content/docs-cli.md