extends ../_layout

block link
  -var selected = 'docs';
  -var title = 'Documentation';
  -var subtitle = 'Features, configuration, CLI';

block content

  .block.block--first
    include ../includes/_docs

  .block
    include ../includes/_configuration-file

  .block
    include ../includes/_options

  .block
    include ../includes/_next

  .block
    include ../includes/_cli