extends ../_layout-play

block link
  -var selected = 'play';

block content

  .play-textareas

    .play-block.play-block--textarea.play-block--input
      h3.play-block-title Source
        span.play-block-subtitle Write stuff below or start with samples: 
          span.samples
            a.samples-item(href='#',data-sample='autoprefixer') Prefixes 
            a.samples-item(href='#',data-sample='rem') rem 
            a.samples-item(href='#',data-sample='pseudoElements') Pseudo&#8209;elements 
            a.samples-item(href='#',data-sample='opacity') Opacity 
            a.samples-item(href='#',data-sample='filters') CSS filters 
            a.samples-item(href='#',data-sample='next') pleeease.NEXT 
      textarea.play-block-textarea#input
    .play-block.play-block--textarea.play-block--output
      h3.play-block-title.play-block-title--2 Result
        span.play-block-subtitle See awesomeness...
      textarea.play-block-textarea#output

    .play-block.play-block--options
      h3.play-block-title Options
      form
        fieldset
          legend Features
          .input
            input(id='optsAutoprefixer',name='autoprefixer',type='checkbox',checked='checked')
            label(for='optsAutoprefixer') Autoprefixer
            .input
              input(type='text',name='autoprefixerOpts',value='last 2 versions')
          .input
            input(id='optsRem',name='rem',type='checkbox',checked='checked')
            label(for='optsRem') rem
            .input
              input(type='text',name='remOpts',value='16px')
          .input
            input(id='optsPseudos',name='pseudoElements',type='checkbox',checked='checked')
            label(for='optsPseudos') Pseudo-elements
          .input
            input(id='optsOpacity',name='opacity',type='checkbox',checked='checked')
            label(for='optsOpacity') Opacity
          .input
            input(id='optsFilters',name='filters',type='checkbox',checked='checked')
            label(for='optsFilters') CSS Filters
            .input
              input(id='optsFiltersOpts',type='checkbox',name='filtersOpts')
              label(for='optsFiltersOpts') IE filters
        fieldset
          legend Pleeease.NEXT
          .input
            input(id='optsVars',name='next.customProperties',type='checkbox',checked='checked')
            label(for='optsVars') CSS Variables
            .input
              input(id='optsVarsOpts',type='checkbox',name='next.customPropertiesOpts')
              label(for='optsVarsOpts') Preserve
          .input
            input(id='optsCalc',name='next.calc',type='checkbox',checked='checked')
            label(for='optsCalc') calc()
          .input
            input(id='optsCustomMedia',name='next.customMedia',type='checkbox',checked='checked')
            label(for='optsCustomMedia') Custom media-queries
          .input
            input(id='optsColors',name='next.colors',type='checkbox',checked='checked')
            label(for='optsColors') CSS4 Colors
        fieldset
          legend Other
          .input
            input(id='optsMQ',name='mqpacker',type='checkbox')
            label(for='optsMQ') Group media-queries
          .input
            input(id='optsMin',name='minifier',type='checkbox')
            label(for='optsMin') Minify
          .input
            input(id='optsWrap',name='wrap',type='checkbox')
            label(for='optsWrap') Wrap lines
        p
          a(href='/docs/#features',class='play-link') Learn more about options...

  script(src='pleeease.js')
  script(src='playground.js')