:markdown
  ##CLI

  You can compile files or watch them! The two commands work with a [configuration file](#configuration-file).

  ###compile

  ```javascript
  $ pleeease compile
  ```

  ###watch

  ```javascript
  $ pleeease watch
  ```
  Same as `compile`, except that the live compilation is activated. When a modification is detected, **files will be recompiled automatically**.

  ###help

  ```javascript
  $ pleeease
  ```