:markdown

  ##Configuration file

  *Pleeease* options can be set in a `.pleeeaserc` file (JSON-like). For example:

  ```javascript
  {
    "in": ["foo.css", "bar.css"],
    "out": "baz.css"
  }
  ```

  * `in` is an array of files (default `["*.css"]`)
  * `out` is the path to the result file (default `app.min.css`)

  <div class="note">Note: In previous version (<0.4), these options were `input` and `output`</div>

  You can now compile easily, without arguments:

  ```javascript
  $ pleeease compile
  ```

  You can also override [all postprocess options](options.html). For example, if you want to enable [autoprefixer](options.html#fallbacks-autoprefixer) and disable [minifier](options.html#optimizers-minifier), just write:

  ```javascript
  {
    "in": ["foo.css", "bar.css"],
    "out": "baz.css",
    "fallbacks": {
      "autoprefixer": ["last 4 versions"]
    },
    "optimizers": {
      "minifier": false
    }
  }
  ```