:markdown

  ##Configuration file

  *Pleeease* options can be set in a `.pleeeaserc` file (JSON-like). For example:

  ```javascript
  {
    "input": ["foo.css", "bar.css"],
    "output": "baz.css"
  }
  ```

  * `input` is an array of files (default `["*.css"]`)
  * `output` is the path to the result file (default `app.min.css`)

  You can now compile easily:

  ```javascript
  $ pleeease compile
  ```

  You can also override [all postprocess options](options.html). For example, if you want to enable [autoprefixer](options.html#fallbacks-autoprefixer) and disable [minifier](options.html#optimizers-minifier), just write:

  ```javascript
  {
    "input": ["foo.css", "bar.css"],
    "output": "baz.css",
    "fallbacks": {
      "autoprefixer": ["last 4 versions"]
    },
    "optimizers": {
      "minifier": false
    }
  }
  ```