:markdown

  ##Configuration file

  When using CLI, Pleeease's options have to be set in a file called `.pleeeaserc` (JSON-like). For example:

  ```javascript
  {
    "in": ["foo.css", "bar.css"],
    "out": "baz.css",
    "autoprefixer": ["last 3 versions", "Android 2.3"]
  }
  ```

  * `in` defines that `foo.css` and `bar.css` are input files
  * `out` defines that `baz.css` is the output file (the file that will be created)
  * `autoprefixer` adds CSS prefixes for the last 3 versions of each browsers and support Android 2.3

  <div class="note">Note: In previous version (<0.4), options were `input` and `output`</div>

  Then, you can override [all postprocess options](#options) the same way.