:markdown

  *Pleeease* is the best toolchain for your CSS. Just write DRY, future-proof CSS and *Pleeease* does the job for you*.

  For now, it adds **prefixes**, **variables**, **pseudo-elements** and **`rem`** unit support, **packs same media-query** in one `@media` rule, **inline `@import`** styles and **minify the result**.

  *Pleeease* is based on [PostCSS](https://github.com/ai/postcss). It helps combine multiple processors and parse CSS only once.

  <div class="note">* no magic here, generated code should be checked</div>