:markdown

  *Pleeease* is a CSS post-processor. The main goal of this tool is to **perform all treatments that a pre-processor shouldn't have to do!** (eg, dealing with prefixes, convert `rem` to `px`, support older browsers, etc.). Just learn how to [configure it](tool.html#configuration-file) and let *Pleeease* do the job for you*.

  ***Pleeease* is also a great tool if you want to write DRY, future-proof CSS.**

  * adds **prefixes**, based on [Autoprefixer](https://github.com/ai/autoprefixer)
  * provides fallbacks for **CSS variables**, **pseudo-elements**, **`rem`** unit
  * converts **CSS shorthand filters** to SVG equivalents
  * **packs same media-query** in one `@media` rule
  * **inlines `@import`** styles
  * **minifies the result**

  *Pleeease* is based on [PostCSS](https://github.com/ai/postcss). It helps combine multiple processors and parse CSS only once.

  <div class="note">* no magic here, generated code should be checked</div>
