:markdown
  ##Preprocessors

  This in an **experimental feature**. Pleeease includes most famous CSS preprocessors.

  * [sass](#sass)
  * [less](#less)
  * [stylus](#stylus)

  ###sass

  <div class="note">
  Type: `Object` | Default: `false`
  </div>

  **Preprocesses your CSS** using Sass. It uses libsass.

  ###less

  <div class="note">
  Type: `Object` | Default: `false`
  </div>

  **Preprocesses your CSS** using LESS.

  ###stylus

  <div class="note">
  Type: `Object` | Default: `false`
  </div>

  **Preprocesses your CSS** using Stylus.