h2 Sources
.buttons
  a.button.button--download(href='https://github.com/iamvdo/pleeease/zipball/master') Download .zip
  a.button.button--download(href='https://github.com/iamvdo/pleeease/tarball/master') Download .tar.gz
  a.button(href='https://github.com/iamvdo/pleeease/') View on GitHub