script.
  try {
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "http://lab.iamvdo.me/pleeease-version.php", true);
    ajax.onload = function () {
      var version = JSON.parse(ajax.responseText).version;
      document.getElementById('version').innerHTML = version;
    };
    ajax.send();
  } catch (err) {
    console.log(err);
  }
