doctype html
html.play

  block link

  include includes/_head

  title Pleeease Play &middot; Prefix CSS3, convert rem, CSS filters, pleeease.NEXT
  meta(name='description',content='Prefixes your CSS using Autoprefixer, provides fallbacks for rem units, adds opacity filter, converts CSS shorthand filters, packs media-queries, inlines @import and minifies the result.')

  body

    header.header
      .header-titles
        h1.header-title
          a(href='/') pleeease
        p.header-version
          a(id='version',href='https://github.com/iamvdo/pleeease/releases',title='See changelog on GitHub') 3.x.x

    include includes/_menu

    block content

    include includes/_version
    script.
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.iamvdo.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

