doctype html
html

  block link
    -var selected = 'index'; //default

  include includes/_head

  if selected === 'index'
    title Pleeease &middot; Process CSS with ease
    meta(name='description',content='Combine CSS preprocessors (Sass, LESS or Stylus) with PostCSS')
  else if selected === 'docs'
    title Pleeease &middot; Documentation
    meta(name='description',content='Configure Pleeease and learn how to use it.')
  else if selected === 'workflow'
    title Pleeease &middot; Workflow
    meta(name='description',content='Optimize your workflow to save time and effort.')

  body

    header.header
      .header-titles
        h1.header-title
          a(href='/') pleeease
        p.header-version
          a(id='version', href='https://github.com/iamvdo/pleeease/releases',title='See changelog on GitHub') 3.x.x
      h2.header-subtitle Process CSS with ease

    include includes/_menu

    section

      article(class=selected)

        block content

    footer.footer
      -var date = new Date().getFullYear()
      p ©2014-#{date}. Processed with <a href="/">Pleeease</a> by <a href="http://twitter.com/iamvdo">@iamvdo</a>. View sources on <a href="https://github.com/iamvdo/pleeease/">GitHub</a>. Follow <a href="http://twitter.com/pleeeaseCSS">@pleeeaseCSS</a> for updates.
      p.note Thanks to <a href="http://twitter.com/andreysitnik">@andreysitnik</a> for PostCSS and Autoprefixer, <a href="http://twitter.com/moox">@MoOx</a> for some PostCSS plugins and <a href="http://twitter.com/goetter">@goetter</a> for his contributions, feedback and testing.

    include includes/_version
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50460425-1', 'pleeease.io');
      ga('send', 'pageview');
