doctype html
html

  head
    meta(charset='utf-8')
    meta(name='viewport',content='initial-scale=1')
    title Pleeease &middot; Postprocess CSS with ease
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Damion&text=Pplease')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel='stylesheet',href='app.min.css')
    link(rel='icon', href='images/favicon.png')

    script.
      document.createElement('header');
      document.createElement('section');
      document.createElement('article');
      document.createElement('footer');

  body

    header

      .title
        h1
          a(href='/') pleeease
        p.subtitle Postprocess CSS with ease

      block link
        -var selected = 'index'; //default

      -var menu = { 'index': 'Get started', 'cli': 'CLI', 'workflow': 'Improve your workflow', 'options': 'All options', 'sources': 'Sources' };
      nav
        ul
          each val, key in menu
            li
              if selected === key
                a.selected(href=key+'.html', title=val)= val
              else
                a(href=key+'.html', title=val)= val

    section

      article

        block content

        footer

          p Postprocess with <a href="/">Pleeease</a> by <a href="http://iamvdo.me">@iamvdo</a>.
          p.note Thanks to <a href="http://twitter.com/goetter">@goetter</a> for his contributions, feedback and testing.

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50460425-1', 'pleeease.io');
      ga('send', 'pageview');
