extends _layout

block content

  .block
    cite.intro All the annoying CSS stuff we don't want to do in 1 tool!
    include:markdown content/index-intro.md
  .block
    include:markdown content/index-started.md
  .block
    include:markdown content/index-howto.md