extends _layout

block link
  -var selected = 'playground';

block content

  .block.block--playground

      h2 Playground
      p Test the awesomeness!

      .textareas

        .textarea
          h3 Source
          p Write or paste code here (rem, unprefixed CSS, variables, etc.). 
            a(href='/#how-it-works') See what Pleeease can do.
          textarea#input.
            div {
              display: flex;
              background: linear-gradient(red, blue);
            }

        .textarea
          h3 Result
          p
            strong See the result
            |  with 
            a(href='options.html') default options
          textarea#output

  script(src='pleeease.js')